.login-page{
    
  background-image: url("https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/4k-wallpaper-background-blur-blurred-background-1242348.jpg?alt=media&token=86486b62-a59b-4f74-a73e-a83116d15e32") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  text-align: -webkit-center;

  .titleLogin{
      font-size: xx-large;
    font-weight: bold;
  }

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text],input[type=password], select, textarea  {
  width:auto;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

input[type=submit] {
  background-color: #af4c4c96; 
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-align: -webkit-center;
  margin:0px 8px;
}

input[type=submit]:hover {
  background-color:#945151;
}

// /* Style the container/contact section */
// .container {
//   border-radius: 5px;
//   background-color: #f2f2f2;
//   padding: 10px;
// }



// /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//   .column, input[type=submit] {
//     width: 100%;
//     margin-top: 0;
//   }
// }


}