<ion-content *ngIf="this.whichPage=='Form'" dir="rtl" style="font-family: calibri;text-align:right;">

    <h1 style="text-align:center; font-weight: bold;margin-bottom: 3rem;">תנאי שימוש באתר</h1>
    <div style="font-size: 16px; padding: 0px 20px 0px 20px">
        <p>1. האתר מהווה פלטפורמה מקוונת שמטרתה תיאום מיטבי בין מתנדבים לאזרחים ותיקים לפי פרמטרים של קרבה גיאוגרפית, תוכן, וזמן מועדף.</p>
        <p>2. שים לב - האתר משמש כזירה מקוונת בלבד המאפשרת תיווך בין מתנדבים לאזרחים ותיקים כדי שיוכלו ליצור קשר ביניהם ולקיים מפגשים.</p>
        <p>3. לפיכך, כל האחריות לקיום המפגשים איכותם ובטיחותם חלה על המתנדבים והאזרחים הותיקים. לאתר אין כל אחריות על דברים אלה,והוא משמש כלי מתווך מקוון בלבד.</p>
        <p>4. האתר אינו צד לכל התקשרות בין מתנדב לאזרח ותיק והוא פועל אך ורק על מנת לקשר בין המתנדבים לאזרחים הותיקים. האתר אינו מפקח על האנשים ועל המידע. האחריות למפגשים, טיבם, בטיחותם אמינותם מוטלת על האנשים המשתמשים באתר ולא על האתר עצמו.</p>
        <p>5. מובהר כי האתר איננו מבצע סינון כלשהו של המתנדבים והאזרחים הותיקים ואינו מבצע כל בדיקה של פרופיל האנשים העושים שימוש באתר ו/או יתר המשתמשים באתר. העושה שימוש באתר ו/או בשירות עושה כן על אחריותו הבלעדית. </p>
        <p>6. אנו ממליצים שאדם נוסף יהיה נוכח במפגשים הראשונים.</p>
    </div>

    <button style="font-size: 16px;
    background-color: #c1bdbd;
    border-color: black;
    border-radius: 8px;
    padding: 10px 10px 10px 10px; margin-left: 25px; float: left;" (click)="closeModal()">אישור</button>
</ion-content>

<ion-content class="parametersPage">
    <ion-grid>
        <ion-row *ngIf="this.whichPage=='Admin'">
            <ion-col>
                <h3 style="text-align:center !important; font-weight: bold;margin-bottom: 3rem;direction: rtl">בחירת פרמטרים לאלגוריתם ההתאמה:</h3>
                <ion-list radio-group class="item-list"><br>
                    <ion-item no-lines class="item-radios" *ngFor="let param of parameters">
                        <ion-label style="text-align: right;"> {{ param.species }} </ion-label>
                        <ion-checkbox item-right color="adminpagebutton" [checked]="param.currentValue" (click)="CheckboxClicked(param)"></ion-checkbox>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row style="align-self: center;">
            <button class="buttons" type="submit" (click)="passParams()">הפעל את אלגוריתם ההתאמה</button>
        </ion-row>
    </ion-grid>
</ion-content>