.homePage{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/1%D7%A8%D7%A7%D7%A2.jpg?alt=media&token=9e359088-7770-420e-8b38-d0b609c38e5e");

  .HomePagetitle {
        color: rgb(23, 1, 124);
        font-size:40px;
        font-weight: bold;
        font-family: Calibri;
        text-align: center;
    }
    .navbarHome {
      place-content: center;
      direction: rtl;


    }

    .homePageText{
      //  font-size: large; 
      //  font-family: Calibri ;
      //  text-align: center;
      //  background: url("https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/%D7%A8%D7%A7%D7%A2%20%D7%9C%D7%98%D7%A7%D7%A1%D7%98.png?alt=media&token=e4b52660-e414-4d05-b6c4-1a9a449dc217");
       background-repeat: no-repeat;
       background-size: contain;
       background-position: center;


    }

#navbarHome {
    overflow: hidden;
    //background: #fdbb4b;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    //background:rgb(255, 88, 41);

  
  }

  .downHomePage {
    text-align: center;
    width: 100%;

  }
    ion-buttons{
      direction: rtl;
    }

    button {
      display: inline-block;
      color: white;
      background:rgb(255, 88, 40);
      text-align: center;
      padding: 14px 18px;
      text-decoration: none; 
      border: 3px solid #fdbb4b00;
      //border: 1px solid navajowhite;
      border-radius: 15px;
    }
    .button-md:hover:not(.disable-hover) {
      color: black;
      background-color: #fffbd8;
  }
    button:hover {
      background-color: rgb(253, 249, 212);
      color: black;
    }
    .homedetails{
      align-items: center;
      place-content: center;
      direction: rtl;
    

    } 
     .homePageText{
       background-image: url(https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/%D7%A8%D7%A7%D7%A2%20%D7%9C%D7%98%D7%A7%D7%A1%D7%98.png?alt=media&token=7da6e1b8-4694-4d26-925e-9b2e4a5d70e5); 
      //  width:auto; height:auto;
      //  min-width:440px; min-height:345px;     place-content: center;
      text-align: center;
      width: auto;
      height: auto;
      min-width: 440px;
      min-height: 345px;
     
       font-family: calibri;
      }
      .text{
        text-align: center;
        width: auto;
        height: auto;
        max-width: 440px;
        max-height: 340px;
        // font-size: medium;
       
         font-family: calibri;
      }
      .pics{
        width: auto;
        height: 500px;
      }
      .slides{
        height: 15%;
      }
      .swiper-pagination-bullet-active{
        background-color:  #ff5828;
        padding: inherit;
    
    } 
    .swiper-pagination-bullet{
      background-color:  #ff5828;
      padding: inherit;
  
  } 
  }