 <ion-content class = "homePage">
   
      <img src="https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/picpic2.png?alt=media&token=ecca364b-4e25-402a-a848-d69e409c9f70"
          style="width: auto;
          height: auto;
          min-height: 160px;" />
          <div class ="downHomePage">

      <div  id = "navbarHome">
          <button *ngIf = "user.loggedIn" (click)="logout()">התנתק</button>
          <button *ngIf = "!user.Admin"  (click)="contactPage()">צור קשר</button>
          <button (click)="gallery()">גלריה</button>
          <button *ngIf = "user.elderly && user.loggedIn && !user.Admin" (click)="elderly_form()">עדכון פרטים אישיים</button>
          <button *ngIf = "!user.loggedIn && !user.Admin" (click)="volunteer_form()">הרשם כמתנדב</button>
          <button *ngIf = "!user.elderly && user.loggedIn && !user.Admin" (click)="volunteer_form()">עדכון פרטים אישיים</button>
          <button *ngIf = "!user.loggedIn" (click)="elderly_form()">רישום לאזרח הותיק</button>
          <button *ngIf = "!user.loggedIn" (click)="login()">כניסת משתמש רשום</button>
          <!-- <button *ngIf = "!user.loggedIn && !platformA" (click)="facebookLogin()">התחבר עם פייסבוק</button> -->
          <!-- <button *ngIf = "!user.loggedIn && !platformA" (click)="gmail()">התחבר עם גמייל</button> -->
          <button *ngIf = "user.Admin" (click)=" get_data_for_admin()">דף ניהול</button>
      </div>

        
     <!-- <ion-grid class="pics"> -->
        <img style="padding-right:20px;
                    width:440px;height:345px; 
                    align-items: center;"
            src="https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/%D7%98%D7%A7%D7%A1%D7%98%20%D7%93%D7%A3%20%D7%91%D7%99%D7%AA.png?alt=media&token=56429aa1-b06a-41f2-aa65-87da84cbf3a5">
                
         
        <iframe style="  align-items: center;" width="440px" height="345px" src="https://www.youtube.com/embed/lbGyb5EfzPY"></iframe>
                   
            <!-- </ion-grid> -->
  
  </div> 

  <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
 -->

</ion-content>
  
  
  