<ion-content padding class="page-match">
    <ion-grid class="adminHeader">

        <ion-row>
            <button class="buttons" type="submit" (click)="click_home()">חזרה לדף הבית</button>
        </ion-row>
        <ion-row style="place-self: center;">
            <h2 class="title">דף התאמות</h2>
        </ion-row>

    </ion-grid> <br><br>


    <section text-center margin-bottom>
        <ion-icon name="person"></ion-icon>
        <h1 *ngIf="user.Admin " style="font-size:1.4em" no-margin>,שלום <br> מר מנהל כללי</h1>
        <h1 *ngIf="!user.Admin " style="font-size:1.4em" no-margin>,שלום <br> {{this.nameLogged}}</h1>
    </section>


    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let value of userE ; let i = index">
                <ion-item *ngIf="(value.matching!=null && value.matching[0]!= '' && value.matching[0] == IDlogged &&
                 !user.Admin && numbers[i]!= -1 )|| ( value.matching[0] != '' && value.matching!=null && user.Admin &&
                  numbers[i]!= -1) ; else elseBlock" style="background: #ffffff00;">
                    <ion-card class="outsideCard" showMatch="true" text-center padding color="info-color">
                        <!-- <ion-card-header> -->

                        <ion-card-title class="textStyle">התאמה</ion-card-title>
                        <!-- </ion-card-header> -->

                        <ion-row style="justify-content: center;">
                            <ion-col class="insideCard">
                                <ion-card style="text-align: -webkit-center;" text-center padding color="info-color">

                                    <ion-item style=" text-align: -webkit-center;">
                                        <img *ngIf="value.gender == 1" style="width: 25%;" src="https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/matchPage%2FElderly-women.png?alt=media&token=59ae802e-3080-42a0-87ff-02b69b16b05d" />
                                        <img *ngIf="value.gender == 2" style="width: 25%;" src="https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/matchPage%2FElderly-men.png?alt=media&token=f33cc453-3e43-4962-aaa1-de9fde4ddf50" />

                                        <ion-card-header>
                                            <ion-card-title text-wrap>{{value.name}} </ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content text-wrap>
                                            מספר פלאפון: 0{{value.phone}}
                                            <br> <br>
                                            <div *ngIf="user.Admin">כתובת: {{value.address}}
                                                <br> <br></div>
                                            <div *ngIf="value.nameAssistant != null">
                                                שם איש קשר: {{value.nameAssistant}}
                                                <br> <br></div>
                                            <div *ngIf="value.contact != null">
                                                פלאפון איש קשר: {{value.contact}}
                                                <br> <br></div>:ימים למפגש
                                            <div *ngFor="let days of value.dayOfMeeting">
                                                <div *ngIf="days.currentValue">{{ days.species }}</div>
                                            </div>
                                            <br> <br>:תחביבים
                                            <div *ngFor="let hobby of value.hobbies">
                                                <div *ngIf="hobby.currentValue">{{ hobby.species }}</div>
                                            </div>
                                            <br> <br>:שעות מועדפות למפגש
                                            <div *ngFor="let hours of value.hours">
                                                <div *ngIf="hours.currentValue">{{ hours.species }}</div>
                                            </div>
                                            <br> <br>:שפות
                                            <div *ngFor="let lang of value.language">
                                                <div *ngIf="lang.currentValue">{{ lang.species }}</div>
                                            </div>
                                            <br> <br>:סגנון מוזיקלי
                                            <div *ngFor="let musical of value.musicStyle">
                                                <div *ngIf="musical.currentValue">{{ musical.species }}</div>
                                            </div>
                                            <br> <br>
                                            <div>:מעוניין להיפגש עם
                                                <div *ngIf=" value.meetingWith  == 1">אין העדפה</div>
                                                <div *ngIf=" value.meetingWith   == 2">נשים בלבד</div>
                                                <div *ngIf=" value.meetingWith   == 3">גברים בלבד</div>
                                            </div>
                                            <br><br>
                                            <div *ngIf="value.description !=null">:מידע נוסף<br>{{value.description}}
                                                <br><br></div>
                                        </ion-card-content>
                                    </ion-item>

                                </ion-card>
                            </ion-col>
                            <ion-col class="insideCard" *ngIf="user.Admin && numbers[i] != -1">
                                <ion-card text-center padding color="info-color">

                                    <ion-item style=" text-align: -webkit-center;" *ngIf="numbers[i]!= -1">


                                        <img *ngIf=" userV[numbers[i]].gender == 1" style="width: 25%;" src="https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/matchPage%2Fvolunteer%20-%20women.png?alt=media&token=f31aaad6-ee85-47de-8370-3bca2241b155" />
                                        <img *ngIf=" userV[numbers[i]].gender == 2" style="width: 25%;" src="https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/matchPage%2Fvolunteer%20-%20men.png?alt=media&token=54bc0512-5082-4eb6-bea2-a1d98582220b" />
                                        <ion-card-header>
                                            <ion-card-title text-wrap>{{userV[numbers[i]].name}}</ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content text-wrap>
                                            מספר פלאפון: 0{{userV[numbers[i]].phone}}
                                            <br> <br>
                                            <div *ngIf="user.Admin">כתובת: {{userV[numbers[i]].address}}
                                                <br> <br></div>:ימים למפגש
                                            <div *ngFor="let days of userV[numbers[i]].dayOfMeeting">
                                                <div *ngIf="days.currentValue">{{ days.species }}</div>
                                            </div>
                                            <br> <br>:תחביבים
                                            <div *ngFor="let hobby of userV[numbers[i]].hobbies">
                                                <div *ngIf="hobby.currentValue">{{ hobby.species }}</div>
                                            </div>
                                            <br> <br>:שעות מועדפות למפגש
                                            <div *ngFor="let hours of userV[numbers[i]].hours">
                                                <div *ngIf="hours.currentValue">{{ hours.species }}</div>
                                            </div>
                                            <br> <br>:שפות
                                            <div *ngFor="let lang of userV[numbers[i]].language">
                                                <div *ngIf="lang.currentValue">{{ lang.species }}</div>
                                            </div>
                                            <br> <br>:סגנון מוזיקלי
                                            <div *ngFor="let musical of userV[numbers[i]].musicStyle">
                                                <div *ngIf="musical.currentValue">{{ musical.species }}</div>
                                            </div>
                                            <br> <br>
                                            <div>:מעוניין להיפגש עם
                                                <div *ngIf=" userV[numbers[i]].meetingWith == 1">אין העדפה</div>
                                                <div *ngIf=" userV[numbers[i]].meetingWith   == 2">נשים בלבד</div>
                                                <div *ngIf=" userV[numbers[i]].meetingWith   == 3">גברים בלבד</div>
                                            </div>
                                        </ion-card-content>
                                    </ion-item>

                                </ion-card>

                            </ion-col>
                        </ion-row>
                        

                        <ion-row style="direction: rtl;" *ngIf="numbers[i]!=-1"  style="justify-content: center;">

                            <ion-row class="textStyle" *ngIf="this.userV[numbers[i]].status == 1" >התאמה עדיין לא אושרה</ion-row>

                            <button *ngIf="user.Admin && this.userV[numbers[i]].status==1" class="buttons" type="submit" (click)="acceptMatch(value.docID,  userV[numbers[i]].docID, numbers[i] )">אשר התאמה</button>
                            <button *ngIf="!user.Admin && this.user.status==1" class="buttons" type="submit" (click)="acceptMatch(value.docID , 0, numbers[i])">אשר התאמה</button>
                            
                            <ion-row class="textStyle" *ngIf="this.user.status==2">ההתאמה אושרה</ion-row>

                            <button *ngIf="user.Admin && this.userV[numbers[i]].status == 2" class="buttons" type="submit" (click)="acceptedMeeting(value.docID  ,  userV[numbers[i]].docID, numbers[i])">אשר ביצוע מפגש</button>
                            <button *ngIf="!user.Admin && this.user.status==2" class="buttons" type="submit" (click)="acceptedMeeting(value.docID, 0,numbers[i])">אשר ביצוע מפגש</button>

                            <ion-row class="textStyle" *ngIf="this.userV[numbers[i]].status == 4">התקיים מפגש</ion-row>

                            <ion-row class="textStyle" *ngIf=" this.userV[numbers[i]].status == 3">התאמה נדחתה</ion-row> 
                            <ion-row class="textStyle" *ngIf=" this.userV[numbers[i]].status == 3 && cancellationReason == true ">סיבת הביטול: {{cancelDescription}}<br><br></ion-row><br><br>

                            <button  class="buttons" type="submit" (click)="CancelMatch(value.docID, userV[numbers[i]].docID,numbers[i])">ביטול התאמה</button>

                            <ion-grid style="width: fit-content; height: auto; float:right;" *ngIf="!user.Admin && cancelText">
                                <ion-item>
                                    <ion-label>נשמח לדעת את סיבת הדחייה</ion-label>
                                    <ion-textarea clearOnEdit="true" [(ngModel)]="cancelDescription"></ion-textarea>
                                </ion-item>
                                <button ion-button *ngIf="user.Admin" style="align-self: center;" (click)="saveDescription(user.description ,userV[numbers[i]].docID)">שמירת סיבת ביטול</button>
                                <button ion-button *ngIf="!user.Admin" style="align-self: center;" (click)="saveDescription(user.description , 0)">שמירת סיבת ביטול</button>

                                
                            </ion-grid>
                        </ion-row>
                    </ion-card>

                </ion-item>

            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <div *ngIf="!showMatch">אין התאמה</div> -->

</ion-content>