.page-match {
    background: url("https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/marble-background.webp?alt=media&token=98fbb916-1c30-4f2f-a0a0-1be15e441d65");
    font-family: calibri;
    .buttons {
        display: inline-block;
        color: white;
        background: cadetblue;
        text-align: center;
        padding: 10px 18px;
        text-decoration: none;
        margin: 5px 0px 0px 0px;
        border-radius: 15px;
        justify-content: center;
    }
    .titleAdmin {
        float: left;
        font-weight: bold;
    }
    .insideCard {
        justify-content: center;
        width: max-content;
        background: white;
        margin: 5px;
    }
    .sub-title-card {
        font-weight: bold;
        justify-content: center;
    }
    .outsideCard {
        // width: 50%;
        background-color: #5f9ea087;
        justify-content: center;
        display: inline-block;
        max-width: 500px;
    }
    .textStyle {
        font-family: calibri;
        // color: white;
        justify-content: center;
        font-weight: bold;
        font-size: x-large;
        direction: rtl;
    }
    .infoText {
        font-family: calibri;
        justify-content: center;
        direction: rtl;
        text-align: -webkit-center;
        text-align: center;
        height: max-content;
        font-size: 15px;
    }
    .infoTextTitle {
        font-family: calibri;
        justify-content: center;
        direction: rtl;
        font-weight: bold;
        font-size: 16px;
    }
    // .item item-block item-md{
    //     background-color: #ffffff42;
    // }
    .buttonStyle {
        justify-content: center;
    }
    .bigDiv {
        width: min-content;
        max-width: min-content;
    }
    @media screen and (max-width: 470px) {
        .insideCard {
            width: min-content;
        }
        .bigDiv {
            width: -webkit-fill-available;
        }
        .outsideCard {
            width: -webkit-fill-available;
        }
    }
    @media screen and (max-width: 350px) {
        .insideCard {
            width: -webkit-fill-available;
        }
        .bigDiv {
            width: -webkit-fill-available;
        }
        .outsideCard {
            width: -webkit-fill-available;
        }
        .infoText {
            font-size: 10px;
        }
        .infoTextTitle {
            font-size: 11px;
        }
    }
    #customers {
        font-family: calibri;
        border-collapse: collapse;
        margin-bottom: 7rem;
        align-items: center;
    }
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        width: 10%;
    }
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    #customers tr:nth-child(odd) {
        background-color: #ffffff;
    }
    .tableStyle tr {
        background-color: #ffffff !important;
    }
    #customers tr:hover {
        background-color: #ddd;
    }
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: right;
        background-color: #939393;
        color: white;
    }
    #customers td {
        text-align: right;
        font-family: calibri;
    }
}