// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.custom-popover .popover-content {
  transform: translateX(-100%) !important;
  width: 20% !important;


}

.alert-md .alert-head {
    text-align: left;
    text-align: start;
    padding: 24px 24px 4px;
    font-family: calibri;
}

.alert-md .alert-title {
    direction: rtl;
    font-size: 22px;
    padding-bottom: 11px;
}

.alert-md .alert-sub-title {
    direction: rtl;
    font-size: 16px;
}

.alert-md .alert-button-group {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px;
    direction: rtl;
}

.alert-md .alert-button .button-inner {
    font-size: large;
}

.toolbar-title-md {
    direction: rtl;
}


.item-label-stacked .ionic-selectable, .item-label-floating .ionic-selectable {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    max-width: 100%;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .item-label-stacked .ionic-selectable-value, .item-label-floating .ionic-selectable-value {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 19px;
  }
  
  .item-label-stacked .ionic-selectable-icon-inner, .item-label-floating .ionic-selectable-icon-inner {
    top: 7px;
  }
  
  .item-label-stacked .ionic-selectable-ios .ionic-selectable-value, .item-label-floating .ionic-selectable-ios .ionic-selectable-value {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 20px;
  }
  
  .item-label-stacked .ionic-selectable-ios .ionic-selectable-icon-inner, .item-label-floating .ionic-selectable-ios .ionic-selectable-icon-inner {
    top: 8px;
  }
  
  .item:not(.item-label-stacked):not(.item-label-floating) .ionic-selectable-md .ionic-selectable-value {
    padding-left: 16px;
  }
  
  .item:not(.item-label-stacked):not(.item-label-floating) .ionic-selectable-ios .ionic-selectable-value {
    padding-left: 16px;
  }
  
  .item-ionic-selectable .item-inner .input-wrapper {
    -webkit-box-align: normal;
    -webkit-align-items: normal;
    -ms-flex-align: normal;
    align-items: normal;
  }
  
  .item-ionic-selectable ion-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: initial;
  }
  
  .ionic-selectable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 45%;
  }
  
  .ionic-selectable:not(.ionic-selectable-is-enabled) {
    opacity: 0.4;
  }
  
  .ionic-selectable-has-placeholder .ionic-selectable-value-item {
    color: #999;
  }
  
  .ionic-selectable-value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: hidden;
  }
  
  .ionic-selectable-value-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .ionic-selectable-value-item:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .ionic-selectable-icon {
    position: relative;
    width: 20px;
  }
  
  .ionic-selectable-icon-inner {
    position: absolute;
    top: 20px;
    left: 5px;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
  }
  
  .ionic-selectable-item-button {
    width: 25px;
  }
  
  .ionic-selectable-item-icon-template[item-left] {
    /*Correct item icon template position.*/
    margin: 0 0 0 1px;
  }
  
  .ionic-selectable-ios.ionic-selectable-has-placeholder .ionic-selectable-value-item {
    color: #999;
  }
  
  .ionic-selectable-ios .ionic-selectable-value {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  
  .ionic-selectable-ios .ionic-selectable-icon-inner {
    top: 19px;
    color: #999;
  }
  
  .ionic-selectable-md .ionic-selectable-icon-inner {
    color: #999;
  }
  
  .ionic-selectable-spinner {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .ionic-selectable-spinner-background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.05;
  }
  
  .ionic-selectable-spinner ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin-top: -14px;
    margin-left: -14px;
  }
  
  .ionic-selectable-add-item-template {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
  }
  
  .ionic-selectable-modal-ios .ionic-selectable-message {
    padding: 8px;
  }
  
  .ionic-selectable-modal-md .ionic-selectable-message {
    padding: 8px 12px;
  }
  
  .ionic-selectable-modal.ionic-selectable-modal-can-clear.ionic-selectable-modal-is-multiple .footer .col:first-child {
    padding-right: 8px;
  }
  
  .ionic-selectable-modal.ionic-selectable-modal-can-clear.ionic-selectable-modal-is-multiple .footer .col:last-child {
    padding-left: 8px;
  }
  
  .ionic-selectable-modal.ionic-selectable-modal-is-searching .scroll-content {
    overflow-y: hidden;
  }
  
  .ionic-selectable-modal.ionic-selectable-modal-is-add-item-template-visible > .content > .scroll-content {
    overflow-y: hidden;
  }
  
  .ionic-selectable-modal ion-footer ion-toolbar {
    padding: 5px 16px;
  }
  
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #035445;
    font-family: calibri;
  }
  
  ion-app.md [margin], ion-app.md [margin] .scroll-content {
    margin: 16px;
    direction: rtl;
  }
  
  .button-md {
    background-color: #259262;
  }
  
  .button-md:hover:not(.disable-hover) {
    background-color: #fcbe47;
  }
  
  .toolbar.toolbar-md {
    direction: rtl;
  }
  
  .ionic-selectable-group {
    direction: rtl;
  }
  
  .searchbar-md .searchbar-input {
    background-color: #259262;
    color: #FCBE47;
    font-family: calibri;
  }
  
  .ionic-selectable-item {
    background-color: #035445;
    color: #FCBE47;
  }
  
  .searchbar-input {
    text-align: right;
  }
  .searchbar-md .searchbar-input {
    background-color: #259262;
    color: #FCBE47;
    font-family: calibri;
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.popover-md .popover-content {
    border-radius: 30px;
    width: min-content;
}
