<ion-content padding class= "formCSS" style="float: right;">
   
    <h2 class= "titleForm">פרטים אישיים</h2>
    <form class="form" style="float: right;">
            <br><br>     
        <label style="float: right;">כתובת דוא"ל</label>
        <input style="float: right;" type="text" name="username" [(ngModel)] = "user.email">
          
        <label style="float: right;">סיסמא</label>
        <input type="text" name="password" [(ngModel)] = "user.password">
     
        <input style="float: right;" *ngIf = "!user.loggedIn" type="submit" (click)= "registry()" value="יצירת חשבון">

      
        <input *ngIf = "user.loggedIn" type="submit" (click)= "update_email_or_password()" value="עדכון פרטים">    

        <br><br><br><br>
        
         <label style="float: right;">שם מלא</label>
         <input text-right type="text" name="title" [(ngModel)] = "user.fullName" >
         
    
        
        <label style="float: right;">כתובת מגורים</label>
        <input type="text" name="address" [(ngModel)] = "user.address">
       
        <input style="float: right;"  type="submit" (click)= "get_location_by_coordinates()" value="השתמש בשירותי מיקום">

        <br><br><br><br>
        
        <label style="float: right;">מספר פלאפון</label>
        <input text-right type="text" name="phone" [(ngModel)] = "user.phone" >

        <!----------------------------------------------just for volunteer------------------------------------------------------------------------>

        <label class= "titleForm"  style="float: right;" *ngIf= "!user.elderly" >:מרחק נסיעה מקסימלי בק"מ </label>
        <label style="float: right; width: 100%;" *ngIf= "!user.elderly" >

        <br><br>

        <input type="range" min="user.range" max="50" color="warning" pin="true" name="range" [(ngModel)]="user.range" class="slider" id="myRange">

        המרחק שנבחר: {{user.range}}

        <br><br><br><br>
        </label>

        <!----------------------------------------------just for elderly------------------------------------------------------------------------>
        
        <ion-checkbox *ngIf="user.elderly" style="float: right;"  [checked]="user.onBehalf" (click) = "onbehalf()"></ion-checkbox>
        <label *ngIf="user.elderly" style="float:right ;"> אני ממלא את הטופס בשם מישהו אחר</label>

        <ion-item *ngIf="user.onBehalf">
            <ion-label floating >נא מלא את שמך המלא</ion-label>
            <ion-input text-right type="text" name="title1" [(ngModel)] = "user.nameAssistant" ></ion-input>
        </ion-item> 
            <ion-item *ngIf="user.onBehalf">
                <ion-label floating>קרבה לקשיש</ion-label>
                <ion-input text-right type="text" name="title2" [(ngModel)] = "user.relationship" ></ion-input>
        </ion-item>  
           
        <br><br><br><br>



    <ion-grid style="    background-color: #ffffff80;">
        <ion-row>
            <ion-col>
                    <h5 class="titleForm" *ngIf="!user.elderly">:תדירות מפגשים</h5>
        
                    <ion-list radio-group *ngIf="!user.elderly">
                        <ion-item *ngFor="let numOfMeeting of numOfMeeting; let i = index">
                                <ion-label style="float:right ;"> {{ numOfMeeting.species }} </ion-label>
                                <ion-checkbox item-right [checked]="numOfMeeting.currentValue" (click)="radioClicked2(numOfMeeting)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                    
            </ion-col>
            <ion-col>
                    <h5 class="titleForm" style="float: right;">:זמנים נוחים למפגש</h5>

                    <ion-list radio-group >
                        <ion-item *ngFor="let time of time; let i = index">
                                <ion-label style="float: right;"> {{ time.species }} </ion-label>
                                <ion-checkbox item-right [checked]="time.currentValue" (click)="radioClicked1(time)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
            </ion-col>
            <ion-col>
                    <h4 class="titleForm">:תחומי עיניין ותחביבים</h4>

                    <ion-item  *ngFor="let hobbies of hobbies; let i = index">
                        <ion-label style="float: right;"> {{ hobbies.species }} </ion-label>
                        <ion-checkbox item-right [checked]="hobbies.currentValue" (click)="CheckboxClicked(hobbies, $event)"></ion-checkbox>
                    </ion-item>
            </ion-col>
                  
        </ion-row>
    </ion-grid>














        
            <br>
            <input style="float: right;"  type="submit" (click)= "check_field_value()" value="שמירה">

            <br><br><br><br>

      </form>

</ion-content>
  