form
{
.beginForm{
    background: rgb(138, 199, 199);
    text-align: center;
    display: flex;
    font-family: Arial;
    flex-direction: column;
    height: 50%;
    text-align: right;
    font-size: 15px;
    position:absolute;
    right: 0px;
}
}