
 <ion-list style="direction:rtl;">
  <ion-list-header>     מידע נוסף על {{this.user.fullName}}</ion-list-header>


  <ion-item><ion-label>שם מלא: {{this.user.fullName}}</ion-label></ion-item>
  <ion-item><ion-label>פלאפון: {{this.user.phone}}</ion-label></ion-item>
  <ion-item><ion-label>אימייל: {{this.user.email }}</ion-label></ion-item>
  <ion-item><ion-label>גיל: {{this.user.age }}</ion-label></ion-item>
  <ion-item><ion-label>תעודת זהות: {{ this.user.id }}</ion-label></ion-item>
  <ion-item *ngIf="this.gender ==1 "><ion-label>מין: נקבה</ion-label></ion-item>
  <ion-item *ngIf="this.gender ==2 "><ion-label >מין: זכר</ion-label></ion-item>
  <ion-item *ngIf="this.gender ==3 "><ion-label>מין: לא צויין</ion-label></ion-item>
  <ion-item><ion-label>כתובת: {{ this.address}}</ion-label></ion-item>
  <ion-item *ngIf="this.user.student "><ion-label> סטודנט/ית במכללת {{ this.user.college }}</ion-label></ion-item>
  <ion-item><ion-label>נרשם בתאריך: {{this.user.dateTime}}</ion-label></ion-item>

  <ion-item>
    <ion-row> תחביבים:</ion-row>
    <ion-row *ngFor="let value of this.hobbies">
      <ion-col *ngIf="value.currentValue">{{ value.species }}</ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row > שפות:</ion-row >
    <ion-row   *ngFor="let value of this.language ">
      <ion-col *ngIf="value.currentValue">{{ value.species }}</ion-col>
    </ion-row  >
  </ion-item>

  <ion-item>
      <ion-row> ימים מועדפים למפגש:</ion-row>
      <ion-row *ngFor="let value of this.dayOfMeeting">
        <ion-col *ngIf="value.currentValue">{{ value.species }}</ion-col>
      </ion-row>
  </ion-item>
  
<ion-item *ngIf= "this.user.hideMusic">
  <ion-row> סגנון מוזיקלי מועדף:</ion-row>
  <ion-row *ngFor="let value of this.musicStyle">
    <ion-col *ngIf="value.currentValue">{{ value.species }}</ion-col>
  </ion-row>
</ion-item>

  <ion-item *ngIf= "this.user.hideMusic">
    <ion-row> כלי נגינה:</ion-row>
    <ion-row *ngFor="let value of this.musical_instrument ">
      <ion-col *ngIf="value.currentValue">{{ value.species }}</ion-col>
    </ion-row>
 </ion-item>
  
  <ion-item>מעוניין להיפגש עם:
    <ion-row *ngIf=" this.meetingWith  == 1">אין העדפה</ion-row>
    <ion-row *ngIf="this.meetingWith  == 2">נשים בלבד</ion-row>
    <ion-row *ngIf="this.meetingWith  == 3">גברים בלבד</ion-row>
  </ion-item> 


 <ion-item>
    <ion-row>שעות מועדפות:</ion-row>
    <ion-row *ngFor="let value of this.hours ">
      <ion-row *ngIf="value.currentValue">{{ value.species }}</ion-row>
    </ion-row>
  </ion-item>

  <ion-item>
      <ion-row>שכונות מועדפות:</ion-row>
      <ion-row *ngFor="let value of this.selectedFav">
        <ion-col *ngIf="value.currentValue">{{ value.species }}</ion-col>
      </ion-row>
  </ion-item>
  
</ion-list>
