<ion-content class="adminPage">

    <ion-grid class="adminHeader">

        <ion-row>
            <ion-col class="buttons">
                <button type="submit" (click)="click_home()">חזרה לדף הבית</button>
                <button type="submit" (click)="add_AdminUser()">הוספת מנהל חדש </button>
            </ion-col>
            <ion-col>
                <h2 class="titleAdmin">דף ניהול</h2>
            </ion-col>
        </ion-row>
    </ion-grid> <br><br>

    <div class="tables">
        <h4 class="tableTitle">:קשישים שנרשמו</h4>
        <button type="submit" (click)="csvFile(userE ,'eledry', false)">ייצוא טבלת קשישים לאקסל</button><br><br>
        <table id="customers">
            <tr>
                <!-- <th>מחק משתמש</th> -->
                <th>תאריך הרשמה</th>
                <th>פלאפון איש קשר</th>
                <th>שם איש קשר</th>
                <th>כתובת</th>
                <th>טלפון</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of userE">
                <!-- <td><button (click)="deleteElderlyUser(value[4])">[x]</button></td> -->
                <td>{{value[5]}}</td>
                <td>{{value[4]}}</td>
                <td>{{value[3]}}</td>
                <td>{{value[2]}}</td>
                <td>{{value[1]}}</td>
                <td>{{value[0]}}</td>
            </tr>
        </table><br><br>

        <h4 class="tableTitle">:מתנדבים שנרשמו</h4>
        <button type="submit" (click)="csvFile(userV, 'volunteer' ,false)">ייצוא טבלת מתנדבים לאקסל</button><br><br>

        <table id="customers">
            <tr>
                <th>מחק משתמש</th>
                <th>תאריך הרשמה</th>
                <th>כתובת</th>
                <th>טלפון</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of userV">
                <td><button (click)="deleteVolunteerUser(value[4])">[x]</button></td>
                <td>{{value[3]}}</td>
                <td>{{value[2]}}</td>
                <td>0{{value[1]}}</td>
                <td>
                    <button ion-button icon-only (click)="openPopover($event, value[4])">
                         <ion-icon name="more"></ion-icon>
                    </button> {{value[0]}}
                </td>
            </tr>
        </table><br><br>

        <h4 class="tableTitle">:סטודנטים שנרשמו</h4>
        <button type="submit" (click)="csvFile(userStudent , 'student', false)">ייצוא טבלת סטודנטים לאקסל</button><br><br>
        <table id="customers">
            <tr>
                <th>מוסד אקדמי</th>
                <th>תעודת זהות</th>
                <th>טלפון</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of userStudent">
                <td>{{value[3]}}</td>
                <td>{{value[2]}}</td>
                <td>0{{value[1]}}</td>
                <td>{{value[0]}}</td>
            </tr>
        </table> <br><br>

        <h4 class="tableTitle">:קשישים שנרשמו דרך יד שרה</h4>
        <button type="submit" (click)="csvFile(organizationEledry['יד שרה'], 'organization' ,true)">ייצוא טבלת קשישים מיד שרה לאקסל</button><br><br>
        <table id="customers">
            <tr>
                <th>שם הארגון</th>
                <th>פלאפון איש קשר</th>
                <th>שם איש קשר</th>
                <th>טלפון קשיש</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of organizationEledry['יד שרה']">
                <td>{{value.id}}</td>
                <td>0{{value.phoneA}}</td>
                <td>{{value.assistName}}</td>
                <td>0{{value.phoneE}}</td>
                <td>{{value.name}}</td>
            </tr>
        </table><br><br>


        <h4 class="tableTitle">:קשישים שנרשמו דרך מלבב</h4>
        <button type="submit" (click)="csvFile(organizationEledry['מלבב'], 'organization', true)">ייצוא טבלת קשישים ממלבב לאקסל</button><br><br>
        <table id="customers">
            <tr>
                <th>שם הארגון</th>
                <th>פלאפון איש קשר</th>
                <th>שם איש קשר</th>
                <th>טלפון קשיש</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of organizationEledry['מלבב']">
                <td>{{value.id}}</td>
                <td>0{{value.phoneA}}</td>
                <td>{{value.assistName}}</td>
                <td>0{{value.phoneE}}</td>
                <td>{{value.name}}</td>
            </tr>
        </table><br><br>



        <h4 class="tableTitle">:קשישים שנרשמו דרך עזר מציון</h4>
        <button type="submit" (click)="csvFile(organizationEledry['עזר מציון'] ,'organization' ,true)">ייצוא טבלת קשישים מעזר מציון לאקסל</button><br><br>
        <table id="customers">
            <tr>
                <th>שם הארגון</th>
                <th>פלאפון איש קשר</th>
                <th>שם איש קשר</th>
                <th>טלפון קשיש</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of organizationEledry['עזר מציון']">
                <td>{{value.id}}</td>
                <td>0{{value.phoneA}}</td>
                <td>{{value.assistName}}</td>
                <td>0{{value.phoneE}}</td>
                <td>{{value.name}}</td>
            </tr>
        </table><br><br>



        <h4 class="tableTitle">:קשישים שנרשמו דרך ארגונים אחרים</h4>
        <button type="submit" (click)="csvFile(organizationEledry['אחר'] ,'organization' ,true)">ייצוא טבלת קשישים מאירגונים לאקסל</button><br><br>
        <table id="customers">
            <tr>
                <th>שם הארגון</th>
                <th>פלאפון איש קשר</th>
                <th>שם איש קשר</th>
                <th>טלפון קשיש</th>
                <th>שם מלא</th>
            </tr>
            <tr *ngFor="let value of organizationEledry['אחר']">
                <td>{{value.id}}</td>
                <td>0{{value.phoneA}}</td>
                <td>{{value.assistName}}</td>
                <td>0{{value.phoneE}}</td>
                <td>{{value.name}}</td>
            </tr>
        </table><br><br>

        <h4 class="tableTitle">הודעות</h4>
        <table id="customers">
            <tr>
                <th>מחק הודעה</th>
                <th>טלפון</th>
                <th>הודעה</th>
                <th>שם מלא</th>
            </tr>


            <tr *ngFor="let value of messages">
                <td><button (click)="deleteMessage(value.id)">[x]</button></td>
                <td>{{value.data.message}}</td>
                <td>{{value.data.phoneNumber}}</td>
                <td>{{value.data.fullName}}</td>
            </tr>
        </table>
    </div>
</ion-content>