.contactPage{

  background-color: #fffbd6;

  
.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eca8a9;
  border: solid black 0px;
  cursor: pointer !important;
  border-radius: 50px;
  -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(255, 140, 98, 0.35);
  box-shadow: 0px 3px 0px 0px rgba(255, 140, 98, 0.35);
  color: #035445;
}

.button:hover {
  background-color:#FCBE47;
  color: white;
}

  /* Style inputs */
  input[type=text],[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: right;
    -webkit-appearance: none; 
    margin: 0; 

  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  // .row{

  //   text-align: right;

  // }
  // /* Create two columns that float next to eachother */
  // .column {
  //   float: left;
  //   width: 50%;
  //   margin-top: 6px;
  //   padding: 20px;
  // }
  
  // /* Clear floats after the columns */
  // .row:after {
  //   content: "";
  //   display: table;
  //   clear: both;
  // }
  
  // /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  // @media screen and (max-width: 600px) {
  //   .column, input[type=submit] {
  //     width: 100%;
  //     margin-top: 0;
  //   }
  // }
  // .contact{
  //   background-image: url("https://firebasestorage.googleapis.com/v0/b/simhat-zkenty.appspot.com/o/%D7%A6%D7%95%D7%A8%20%D7%A7%D7%A9%D7%A8%20.png?alt=media&token=0f10738c-7461-48c2-908e-049609632476");
  // }
  
  .demo {
    overflow: auto;
    resize: both;
    border:1px black solid;
    width: 230px;
    height: 130px
  }
  
  .svgtext {
    font-size: 28rem;
    height:100%;
    width:100%
  }
  
}